<li id="comment-<%= comment._id %>">
    <div class="comment-container" >
        <img src="<%= comment.user.avatar %>" alt="image" class="comment-display-picture">
        <small><b><%= comment.user.name %></b></small> <br>
        <small class="timing">01/02/2023</small>
         <p><%= comment.content %></p>
        <hr>
        <% if(locals.user && (locals.user.id == comment.user.id)) { %>
            <small style="float: right;">
                <a class="delete-comment-button" id="delete-<%= comment._id%>" href="/comments/destroy/<%= comment._id %>">
                    <img class="trash" src="https://img.icons8.com/ios/50/trash--v1.png" alt="trash--v1"/>
                </a>
            </small>
        
        <% } %>
        
        <div class="comment-likes-number">
            <% if(locals.user) { %> 
                <a class="like-toggle" href="/likes/toggle/?type=Comment&id=<%= comment._id %>">
                    <span><%= comment.likes.length %></span> 
                    <img class="thumbs" src="<%= assetPath('images/thumbs-up.png') %>" alt="">
                </a>
                    
            <% } %>
        </div>
        
        
    </div>
    
</li>

