<li id="comment-<%= comment._id %>">
    <small><%= comment.user.name %></small>> : <%= comment.content %>
    <% if(locals.user && (locals.user.id == comment.user.id)) { %>
        <small>
            <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>" >X</a>
        </small>
       
    <% } %>
    <% if(locals.user) { %> 
        <small><a href="/likes/toggle/?type=Comment&id=<%= comment._id %>"><%= comment.likes.length %> Likes</a></small>    
    <% } %>
</li>

