<h1>
    Hi, Welcome to Social Services!!
</h1>

<section id="feed-posts">
    <h4>Posts</h4>
    
    <form action="/posts/new-post" id="new-post-form" method="post">
        <textarea name="content" id="" cols="35" rows="3"></textarea>
        <input type="submit" value="Add Post">
    </form>
    

    <div id="posts-list-container">
        <ol class="post-list"> 
            <% for(post of posts){ %>
            <p> 
                <li>
                    <%= post.content %>
                    
                </li>
                <small>
                    --<%= post.user.name %>
                </small>
                <% if(locals.user && (locals.user.id == post.user.id)) { %>
                    <small>
                        <a href="/posts/destroy/<%= post._id %>">X</a>
                    </small>
                <% } %>
            
            </p>
        <div class="post-comments">
            <% if(locals.user) { %>
                <form action="/comments/create" method="POST">
                    <input type="text" name="content" placeholder="add comment...">
                    <input type="hidden" name="post" value="<%= post._id %>">
                    <input type="submit" value="Add Comment">
                </form> 
            <% } %>
        </div>
        <div id="show-comments">
            <% for (comment of post.comments) { %> 
                <li>
                    <small><%= comment.user.name %></small>> : <%= comment.content %>
                    <% if(locals.user && (locals.user.id == comment.user.id)) { %>
                        <small>
                            <a href="/comments/destroy/<%= comment.id %>">X</a>
                        </small>
                    <% } %>
                </li>
            <% } %>
        </div>
        <hr>
        <% } %>
        
        </ol>
    </div>

</section>
